{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Helpdesk Support plugin for Craft CMS 3.x
 *
 * Helpdesk Support index.twig
 *
 * @author    Jarrod D Nix
 * @copyright Copyright (c) 2019 Jarrod D Nix
 * @link      https://jarrodnix.me
 * @package   HelpdeskSupport
 * @since     0.1.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("jrrdnx\\helpdesksupport\\assetbundles\\helpdesksupport\\HelpdeskSupportAsset") %}
{% do view.registerAssetBundle("jrrdnx\\helpdesksupport\\assetbundles\\createnewticketcpsection\\CreateNewTicketCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/jrrdnx/helpdesk-support/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Create New Ticket" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('helpdesk-support') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@jrrdnx/helpdesksupport/assetbundles/createnewticketcpsection/dist', true) ~ '/img/CreateNewTicket-icon.svg' %}

{% set subnav = {
    "create-new-ticket": { label: "Create New Ticket"|t('helpdesk-support'), url: url(pluginCpUrl ~ '/create-new-ticket') },
    "view-tickets": { label: "View Tickets"|t('helpdesk-support'), url: url(pluginCpUrl ~ '/view-tickets') },

} %}
{% set selectedSubnavItem = 'create-new-ticket' %}

{% set crumbs = [
    { label: "Helpdesk Support", url: url(pluginCpUrl) },
] %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('helpdesk-support') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "CreateNewTicket CP Section body goes here"|t('helpdesk-support') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
