{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Helpdesk Support plugin for Craft CMS 3.x
 *
 * Helpdesk Support Settings.twig
 *
 * @author    Jarrod D Nix
 * @copyright Copyright (c) 2019 Jarrod D Nix
 * @link      https://jarrodnix.me
 * @package   HelpdeskSupport
 * @since     0.1.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("jrrdnx\\helpdesksupport\\assetbundles\\helpdesksupport\\HelpdeskSupportAsset") %}

{{ forms.autosuggestField({
    label: 'Provider',
    instructions: 'Valid options are \'freshdesk\', \'teamworkdesk\', and \'zendesksupport\'.',
    id: 'apiProvider',
    name: 'apiProvider',
    value: settings['apiProvider'],
	suggestEnvVars: true})
}}

{{ forms.autosuggestField({
    label: 'Domain',
    instructions: 'Follow the instructions for your helpdesk platform below...',
    id: 'apiDomain',
    name: 'apiDomain',
    value: settings['apiDomain'],
	suggestEnvVars: true})
}}

{{ forms.autosuggestField({
    label: 'Username',
    instructions: 'Follow the instructions for your helpdesk platform below...',
    id: 'apiUsername',
    name: 'apiUsername',
    value: settings['apiUsername'],
	suggestEnvVars: true})
}}

{{ forms.autosuggestField({
    label: 'API Token/Key',
    instructions: 'Follow the instructions for your helpdesk platform below...',
    id: 'apiToken',
    name: 'apiToken',
    value: settings['apiToken'],
	suggestEnvVars: true})
}}

<h2>Freshdesk</h2>
<p><strong>Domain: </strong> <em>(Required)</em> This is the freshdesk.com subdomain associated with your account.</p>
<p><strong>Username: </strong> <em>(Not Required)</em></p>
<p><strong>API Token: </strong> <em>(Required)</em> Click your avatar and select Profile Settings. Your pre-determined API key will be listed on the right side.</p>

<hr />

<h2>Teamwork Desk</h2>
<p><strong>Domain: </strong> <em>(Required)</em> This is the teamwork.com subdomain associated with your account.</p>
<p><strong>Username: </strong> <em>(Not Required)</em></p>
<p><strong>API Token: </strong> <em>(Required)</em> From your Teamwork Desk account, click your avatar and choose "View Profile". On your profile page, choose the API Keys menu (or go to https://YOUR-DOMAIN.teamwork.com/desk/myprofile/apikeys) and create a new <strong><em>v1</em></strong> API key or copy your existing API Key here.</p>

<hr />

<h2>Zendesk Support</h2>
<p><strong>Domain: </strong> <em>(Required)</em> This is the zendesk.com subdomain associated with your account.</p>
<p><strong>Username: </strong> <em>(Required)</em> The email address or the owner or administrator for your account. Certain API endpoints require agent-level access, and this ensures that those endspoints can be accessed. Comments will appear as "[Administrator] submitted on behalf of [End User]".</p>
<p><strong>API Token: </strong> <em>(Required)</em> From your Zendesk account, choose the Admin navigation in the sidebar. Then under the Channel heading, choose API (or go to https://YOUR-DOMAIN.zendesk.com/agent/admin/api). Enable Token Access if necessary, then add a new API Token.</p>