{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Helpdesk Support plugin for Craft CMS
 *
 * Tickets Widget Body
 *
 * @author    Jarrod D Nix
 * @copyright Copyright (c) 2019 Jarrod D Nix
 * @link      https://jarrodnix.me
 * @package   HelpdeskSupport
 * @since     0.1.0
 */
#}

<p class="invalid-settings">Helpdesk Support is missing one or more settings. Please <a href="{{ url('settings/plugins/helpdesk-support') }}">update your settings</a></p>
