{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Helpdesk Support plugin for Craft CMS
 *
 * Tickets Widget Body
 *
 * @author    Jarrod D Nix
 * @copyright Copyright (c) 2019 Jarrod D Nix
 * @link      https://jarrodnix.me
 * @package   HelpdeskSupport
 * @since     0.1.0
 */
#}

<p class="invalid-settings">{{ "helpdesk-support"|t('helpdesk-support') }} {{ "missing-settings"|t('helpdesk-support') }} <a href="{{ url('settings/plugins/helpdesk-support') }}">{{ "update-settings"|t('helpdesk-support') }}</a>.</p>
